*{
    margin:0px;
    padding:0px;
}

#wrapper{
    width: 500px;
    margin: 0px auto;
    outline: solid 2px black;
    background-color: blue;
}

.fields{
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    background-color: red;
}

.values{
    display: inline-block; 
    padding:1px;
}

h1{
    color:red;
}

input{
    background-color: gray;
    color: white;
}   

select {
    float: right;
}

#glen{
    width: 500px;
    height: 200px;
    margin: 0px auto;
    outline: solid 2px black;
    background-color: blue;
}

p{
    text-align:left;
    
}



